*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    
    width:100vh;
    height:100vh;
    display:flex;
    justify-content: center;
    text-align:center;
    flex-direction: row;
}
.item1{
    min-width:45rem;
    min-height:100vh;
    background-color: rgb(236, 152, 166);

}
.item2{
    min-width:53rem;
    min-height:100vh;
    background-color: rgb(48, 48, 104);
}
.item3{
    min-width:22rem;
    min-height:21rem;
    display:inline-flexbox;
    border-radius:50%;
    padding:0px;
    position:absolute;
    margin-left:50px;
    margin-top:70px;
    background-color: rgb(246, 239, 239);
} 
.item4{
    max-width: 20rem;
    max-height: 20rem;
    margin-left:20rem;
    margin-top:80px;
    display:inline-flex;
    flex-direction:column;
    justify-content: flex-start;
}
.item5{
    display: flex;
    justify-content:left;
}
h1{
    padding:0px;
    display:inline-flex;
}
p{
    display:inline-flex;
  justify-content: left;
}
span{
    min-height:100vh;
    max-height:100vh;
    aspect-ratio:calc(0.0005);
    padding-left:50px;
    display:inline-flex;
    flex-direction: column;
    text-wrap:space-between;
 border-radius:25px;
    margin-left:200px;
    position:absolute;
    background-color:gray;
}
